#mainContent {
	display:flex;
	background-color: var(--color-content);
}

#mainContent::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    left: 0;
    border-top: 1.5px solid grey;
}